openapi: 3.0.0
info:
  title: Kalshi Trade API
  description: API for interacting with Kalshi prediction markets
  version: 3.29.0
servers:
  - url: https://api.elections.kalshi.com/trade-api/v2
    description: Production server
  - url: https://demo-api.kalshi.co/trade-api/v2
    description: Demo server
security:
  - kalshiAccessKey: []
    kalshiAccessSignature: []
    kalshiAccessTimestamp: []
paths:
  /exchange/status:
    get:
      operationId: GetExchangeStatus
      summary: Get Exchange Status
      description: Endpoint for getting the current exchange status.
      tags:
        - exchange
      security: []
      responses:
        '200':
          description: Exchange status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExchangeStatusResponse'
  /exchange/schedule:
    get:
      operationId: GetExchangeSchedule
      summary: Get Exchange Schedule
      description: Endpoint for getting the exchange schedule.
      tags:
        - exchange
      security: []
      responses:
        '200':
          description: Exchange schedule retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExchangeScheduleResponse'
  /exchange/announcements:
    get:
      operationId: GetExchangeAnnouncements
      summary: Get Exchange Announcements
      description: Endpoint for getting exchange announcements.
      tags:
        - exchange
      security: []
      responses:
        '200':
          description: Exchange announcements retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExchangeAnnouncementsResponse'
  /exchange/weekly_updates:
    get:
      operationId: GetExchangeWeeklyUpdates
      summary: Get Exchange Weekly Updates
      description: Endpoint for getting weekly updates from the exchange.
      tags:
        - exchange
      security: []
      responses:
        '200':
          description: Exchange weekly updates retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExchangeWeeklyUpdatesResponse'
  /exchange/user_data_timestamp:
    get:
      operationId: GetExchangeUserDataTimestamp
      summary: Get Exchange User Data Timestamp
      description: Endpoint for getting the exchange user data timestamp.
      tags:
        - exchange
      responses:
        '200':
          description: Exchange user data timestamp retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExchangeUserDataTimestampResponse'
  /series:
    get:
      operationId: GetSeriesList
      summary: Get Series List
      description: Endpoint for listing series.
      tags:
        - series
      security: []
      parameters:
        - name: category
          in: query
          required: false
          schema:
            type: string
        - name: tags
          in: query
          required: false
          schema:
            type: string
        - name: include_volume
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Series list retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSeriesListResponse'
  /series/{series_ticker}:
    get:
      operationId: GetSeries
      summary: Get Series
      description: Endpoint for getting data about a series by its ticker.
      tags:
        - series
      security: []
      parameters:
        - name: series_ticker
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Series retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSeriesResponse'
        '404':
          description: Series not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /events:
    get:
      operationId: GetEvents
      summary: Get Events
      description: Endpoint for getting data about events.
      tags:
        - events
      security: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 100
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - open
              - closed
              - settled
        - name: series_ticker
          in: query
          required: false
          schema:
            type: string
        - name: with_nested_markets
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Events retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventsResponse'
  /events/{event_ticker}:
    get:
      operationId: GetEvent
      summary: Get Event
      description: Endpoint for getting data about an event by its ticker.
      tags:
        - events
      security: []
      parameters:
        - name: event_ticker
          in: path
          required: true
          schema:
            type: string
        - name: with_nested_markets
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Event retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventResponse'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /markets:
    get:
      operationId: GetMarkets
      summary: Get Markets
      description: Endpoint for getting data about markets.
      tags:
        - market
      security: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: event_ticker
          in: query
          required: false
          schema:
            type: string
        - name: series_ticker
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - unopened
              - open
              - closed
              - settled
        - name: tickers
          in: query
          required: false
          schema:
            type: string
        - name: min_created_ts
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: max_created_ts
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: min_close_ts
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: max_close_ts
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: min_settled_ts
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: max_settled_ts
          in: query
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Markets retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketsResponse'
  /markets/{ticker}:
    get:
      operationId: GetMarket
      summary: Get Market
      description: Endpoint for getting data about a market by its ticker.
      tags:
        - market
      security: []
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Market retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketResponse'
        '404':
          description: Market not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /markets/{ticker}/orderbook:
    get:
      operationId: GetMarketOrderbook
      summary: Get Market Orderbook
      description: Endpoint for getting order book data for a market by its ticker. The returned yes and no arrays represent bids for YES and NO outcomes, respectively. Each entry is a [price, quantity] pair. To get the ask side for YES, take the complement of the NO bid price (YES ask = 100 - NO bid). To get the ask side for NO, take the complement of the YES bid price (NO ask = 100 - YES bid).
      tags:
        - market
      security: []
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
        - name: depth
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 100
            default: 0
      responses:
        '200':
          description: Market orderbook retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketOrderbookResponse'
  /markets/{ticker}/candlesticks:
    get:
      operationId: GetMarketCandlesticks
      summary: Get Market Candlesticks
      description: Endpoint for getting candlestick data for a market.
      tags:
        - market
      security: []
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
        - name: start_ts
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: end_ts
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: period_interval
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 60
              - 1440
      responses:
        '200':
          description: Market candlesticks retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketCandlesticksResponse'
  /series/{series_ticker}/markets/{ticker}/candlesticks:
    get:
      operationId: GetMarketCandlesticksLegacy
      summary: Get Market Candlesticks Legacy
      description: Legacy endpoint for getting candlestick data for a market.
      tags:
        - market
      deprecated: true
      security: []
      parameters:
        - name: series_ticker
          in: path
          required: true
          schema:
            type: string
        - name: ticker
          in: path
          required: true
          schema:
            type: string
        - name: start_ts
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: end_ts
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: period_interval
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 1
              - 60
              - 1440
      responses:
        '200':
          description: Market candlesticks retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMarketCandlesticksResponse'
  /markets/trades:
    get:
      operationId: GetTrades
      summary: Get Trades
      description: Endpoint for getting recent trades.
      tags:
        - market
      security: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: ticker
          in: query
          required: false
          schema:
            type: string
        - name: min_ts
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: max_ts
          in: query
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Trades retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTradesResponse'
  /portfolio/balance:
    get:
      operationId: GetBalance
      summary: Get Balance
      description: Endpoint for getting user balance.
      tags:
        - portfolio
      parameters:
        - name: subaccount
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 63
          description: Subaccount number. Omit for primary subaccount (0).
        - name: exchange_index
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
          description: Exchange index to get balance for. Omit for aggregate balance across all exchange indexes.
      responses:
        '200':
          description: Balance retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBalanceResponse'
  /portfolio/positions:
    get:
      operationId: GetPositions
      summary: Get Positions
      description: Endpoint for getting user positions.
      tags:
        - portfolio
      parameters:
        - name: subaccount
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 63
          description: Subaccount number. Omit for primary subaccount (0).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: settlement_status
          in: query
          required: false
          schema:
            type: string
            enum:
              - unsettled
              - settled
              - all
        - name: ticker
          in: query
          required: false
          schema:
            type: string
        - name: event_ticker
          in: query
          required: false
          schema:
            type: string
        - name: count_filter
          in: query
          required: false
          schema:
            type: string
            enum:
              - position
              - total_traded
      responses:
        '200':
          description: Positions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPositionsResponse'
  /portfolio/orders:
    get:
      operationId: GetOrders
      summary: Get Orders
      description: Endpoint for getting user orders.
      tags:
        - portfolio
      parameters:
        - name: subaccount
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 63
          description: Subaccount number. Omit for primary subaccount (0).
        - name: ticker
          in: query
          required: false
          schema:
            type: string
        - name: event_ticker
          in: query
          required: false
          schema:
            type: string
        - name: min_ts
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: max_ts
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - resting
              - canceled
              - executed
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: cursor
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Orders retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersResponse'
    post:
      operationId: CreateOrder
      summary: Create Order
      description: Endpoint for submitting a new order.
      tags:
        - portfolio
      parameters:
        - name: subaccount
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 63
          description: Subaccount number. Omit for primary subaccount (0).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
        '400':
          description: Invalid order request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /portfolio/orders/batched:
    post:
      operationId: BatchCreateOrders
      summary: Batch Create Orders
      description: Endpoint for submitting multiple orders.
      tags:
        - portfolio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateOrdersRequest'
      responses:
        '201':
          description: Orders created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCreateOrdersResponse'
    delete:
      operationId: BatchCancelOrders
      summary: Batch Cancel Orders
      description: Endpoint for canceling multiple orders.
      tags:
        - portfolio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCancelOrdersRequest'
      responses:
        '200':
          description: Orders canceled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCancelOrdersResponse'
  /portfolio/orders/{order_id}:
    get:
      operationId: GetOrder
      summary: Get Order
      description: Endpoint for getting a specific order.
      tags:
        - portfolio
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: CancelOrder
      summary: Cancel Order
      description: Endpoint for canceling an order.
      tags:
        - portfolio
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order canceled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /portfolio/orders/{order_id}/decrease:
    post:
      operationId: DecreaseOrder
      summary: Decrease Order
      description: Endpoint for decreasing order size.
      tags:
        - portfolio
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecreaseOrderRequest'
      responses:
        '200':
          description: Order decreased successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecreaseOrderResponse'
  /portfolio/fills:
    get:
      operationId: GetFills
      summary: Get Fills
      description: Endpoint for getting user fills.
      tags:
        - portfolio
      parameters:
        - name: subaccount
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 63
          description: Subaccount number. Omit for primary subaccount (0).
        - name: ticker
          in: query
          required: false
          schema:
            type: string
        - name: order_id
          in: query
          required: false
          schema:
            type: string
        - name: min_ts
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: max_ts
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: cursor
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Fills retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFillsResponse'
  /portfolio/settlements:
    get:
      operationId: GetSettlements
      summary: Get Settlements
      description: Endpoint for getting user settlements.
      tags:
        - portfolio
      parameters:
        - name: subaccount
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 63
          description: Subaccount number. Omit for primary subaccount (0).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: min_ts
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: max_ts
          in: query
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Settlements retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSettlementsResponse'
  /portfolio/subaccounts/balances:
    get:
      operationId: GetSubaccountBalances
      summary: Get Subaccount Balances
      description: Endpoint for getting balances across all subaccounts.
      tags:
        - portfolio
      responses:
        '200':
          description: Subaccount balances retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubaccountBalancesResponse'
  /portfolio/subaccounts/netting:
    get:
      operationId: GetSubaccountNetting
      summary: Get Subaccount Netting
      description: Endpoint for getting netting configuration across all subaccounts.
      tags:
        - portfolio
      responses:
        '200':
          description: Subaccount netting retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubaccountNettingResponse'
    put:
      operationId: UpdateSubaccountNetting
      summary: Update Subaccount Netting
      description: Endpoint for updating netting configuration for a subaccount.
      tags:
        - portfolio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubaccountNettingRequest'
      responses:
        '200':
          description: Subaccount netting updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubaccountNettingResponse'
  /portfolio/subaccounts/transfers:
    get:
      operationId: GetSubaccountTransfers
      summary: Get Subaccount Transfers
      description: Endpoint for getting transfer history across subaccounts.
      tags:
        - portfolio
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: cursor
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Subaccount transfers retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubaccountTransfersResponse'
    post:
      operationId: CreateSubaccountTransfer
      summary: Create Subaccount Transfer
      description: Endpoint for transferring funds between subaccounts.
      tags:
        - portfolio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubaccountTransferRequest'
      responses:
        '201':
          description: Subaccount transfer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSubaccountTransferResponse'
  /portfolio/subaccounts:
    post:
      operationId: CreateSubaccount
      summary: Create Subaccount
      description: Endpoint for creating a new subaccount.
      tags:
        - portfolio
      responses:
        '201':
          description: Subaccount created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSubaccountResponse'
  /portfolio/order_groups:
    get:
      operationId: GetOrderGroups
      summary: Get Order Groups
      description: Endpoint for getting user order groups.
      tags:
        - portfolio
      responses:
        '200':
          description: Order groups retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderGroupsResponse'
    post:
      operationId: CreateOrderGroup
      summary: Create Order Group
      description: Endpoint for creating a new order group.
      tags:
        - portfolio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderGroupRequest'
      responses:
        '201':
          description: Order group created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderGroupResponse'
  /portfolio/order_groups/{order_group_id}:
    get:
      operationId: GetOrderGroup
      summary: Get Order Group
      description: Endpoint for getting an order group.
      tags:
        - portfolio
      parameters:
        - name: order_group_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order group retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderGroupResponse'
    delete:
      operationId: DeleteOrderGroup
      summary: Delete Order Group
      description: Endpoint for deleting an order group.
      tags:
        - portfolio
      parameters:
        - name: order_group_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Order group deleted successfully
  /portfolio/order_groups/{order_group_id}/reset:
    put:
      operationId: ResetOrderGroup
      summary: Reset Order Group
      description: Endpoint for resetting an order group's rolling count.
      tags:
        - portfolio
      parameters:
        - name: order_group_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order group reset successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetOrderGroupResponse'
  /portfolio/order_groups/{order_group_id}/limits:
    get:
      operationId: GetOrderGroupLimits
      summary: Get Order Group Limits
      description: Endpoint for getting order group limits.
      tags:
        - portfolio
      parameters:
        - name: order_group_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order group limits retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderGroupLimitsResponse'
    put:
      operationId: UpdateOrderGroupLimits
      summary: Update Order Group Limits
      description: Endpoint for updating order group limits.
      tags:
        - portfolio
      parameters:
        - name: order_group_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderGroupLimitsRequest'
      responses:
        '200':
          description: Order group limits updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrderGroupLimitsResponse'
  /api_keys:
    get:
      operationId: GetApiKeys
      summary: Get API Keys
      description: Endpoint for getting API keys.
      tags:
        - api-keys
      responses:
        '200':
          description: API keys retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiKeysResponse'
    post:
      operationId: CreateApiKey
      summary: Create API Key
      description: Endpoint for creating a new API key.
      tags:
        - api-keys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: API key created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
  /api_keys/{api_key_id}:
    delete:
      operationId: DeleteApiKey
      summary: Delete API Key
      description: Endpoint for deleting an API key.
      tags:
        - api-keys
      parameters:
        - name: api_key_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: API key deleted successfully
  /account/limits:
    get:
      operationId: GetAccountApiLimits
      summary: Get Account API Limits
      description: Endpoint for getting account API limits and usage tier.
      tags:
        - account
      responses:
        '200':
          description: Account API limits retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountApiLimitsResponse'
components:
  securitySchemes:
    kalshiAccessKey:
      type: apiKey
      in: header
      name: KALSHI-ACCESS-KEY
    kalshiAccessSignature:
      type: apiKey
      in: header
      name: KALSHI-ACCESS-SIGNATURE
    kalshiAccessTimestamp:
      type: apiKey
      in: header
      name: KALSHI-ACCESS-TIMESTAMP
  schemas:
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: string
    GetExchangeStatusResponse:
      type: object
      required:
        - exchange_active
        - trading_active
      properties:
        exchange_active:
          type: boolean
        trading_active:
          type: boolean
        maintenance_mode:
          type: boolean
        open:
          type: boolean
    GetExchangeScheduleResponse:
      type: object
      required:
        - schedule
      properties:
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/ExchangeScheduleDay'
    ExchangeScheduleDay:
      type: object
      required:
        - date
        - open_time
        - close_time
      properties:
        date:
          type: string
        open_time:
          type: string
        close_time:
          type: string
    GetExchangeAnnouncementsResponse:
      type: object
      required:
        - announcements
      properties:
        announcements:
          type: array
          items:
            $ref: '#/components/schemas/ExchangeAnnouncement'
    ExchangeAnnouncement:
      type: object
      required:
        - type
        - message
        - ts
      properties:
        type:
          type: string
        message:
          type: string
        ts:
          type: integer
          format: int64
    GetExchangeWeeklyUpdatesResponse:
      type: object
      required:
        - updates
      properties:
        updates:
          type: array
          items:
            $ref: '#/components/schemas/ExchangeWeeklyUpdate'
    ExchangeWeeklyUpdate:
      type: object
      required:
        - week_start
        - message
      properties:
        week_start:
          type: string
        message:
          type: string
    GetExchangeUserDataTimestampResponse:
      type: object
      required:
        - timestamp
      properties:
        timestamp:
          type: integer
          format: int64
    GetSeriesListResponse:
      type: object
      required:
        - series
      properties:
        series:
          type: array
          items:
            $ref: '#/components/schemas/Series'
    GetSeriesResponse:
      type: object
      required:
        - series
      properties:
        series:
          $ref: '#/components/schemas/Series'
    Series:
      type: object
      required:
        - ticker
        - title
        - category
        - frequency
      properties:
        ticker:
          type: string
        title:
          type: string
        category:
          type: string
        frequency:
          type: string
        tags:
          type: array
          items:
            type: string
        volume:
          type: integer
          format: int64
        open_interest:
          type: integer
          format: int64
    GetEventsResponse:
      type: object
      required:
        - events
        - cursor
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        cursor:
          type: string
    GetEventResponse:
      type: object
      required:
        - event
      properties:
        event:
          $ref: '#/components/schemas/Event'
    Event:
      type: object
      required:
        - event_ticker
        - series_ticker
        - title
        - subtitle
        - category
        - mutually_exclusive
      properties:
        event_ticker:
          type: string
        series_ticker:
          type: string
        title:
          type: string
        subtitle:
          type: string
        category:
          type: string
        mutually_exclusive:
          type: boolean
        markets:
          type: array
          items:
            $ref: '#/components/schemas/Market'
    GetMarketsResponse:
      type: object
      required:
        - markets
        - cursor
      properties:
        markets:
          type: array
          items:
            $ref: '#/components/schemas/Market'
        cursor:
          type: string
    GetMarketResponse:
      type: object
      required:
        - market
      properties:
        market:
          $ref: '#/components/schemas/Market'
    Market:
      type: object
      required:
        - ticker
        - event_ticker
        - market_type
        - title
        - subtitle
        - yes_sub_title
        - no_sub_title
        - open_time
        - close_time
        - expected_expiration_time
        - expiration_time
        - latest_expiration_time
        - settlement_timer_seconds
        - status
        - response_price_units
        - notional_value
        - notional_value_dollars
        - rules_primary
        - rules_secondary
        - yes_bid
        - yes_bid_dollars
        - yes_ask
        - yes_ask_dollars
        - no_bid
        - no_bid_dollars
        - no_ask
        - no_ask_dollars
        - last_price
        - last_price_dollars
        - previous_yes_bid
        - previous_yes_bid_dollars
        - previous_yes_ask
        - previous_yes_ask_dollars
        - previous_price
        - previous_price_dollars
        - volume
        - volume_24h
        - liquidity
        - liquidity_dollars
        - open_interest
        - result
        - can_close_early
        - expiration_value
      properties:
        ticker:
          type: string
        event_ticker:
          type: string
        market_type:
          type: string
        title:
          type: string
        subtitle:
          type: string
        yes_sub_title:
          type: string
        no_sub_title:
          type: string
        open_time:
          type: string
          format: date-time
        close_time:
          type: string
          format: date-time
        expected_expiration_time:
          type: string
          format: date-time
        expiration_time:
          type: string
          format: date-time
        latest_expiration_time:
          type: string
          format: date-time
        settlement_timer_seconds:
          type: integer
        status:
          type: string
          enum:
            - initialized
            - inactive
            - active
            - closed
            - determined
            - disputed
            - amended
            - finalized
        response_price_units:
          type: string
          enum:
            - usd_cent
        notional_value:
          type: integer
        notional_value_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        rules_primary:
          type: string
        rules_secondary:
          type: string
        yes_bid:
          type: integer
        yes_bid_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        yes_ask:
          type: integer
        yes_ask_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        no_bid:
          type: integer
        no_bid_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        no_ask:
          type: integer
        no_ask_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        last_price:
          type: integer
        last_price_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        previous_yes_bid:
          type: integer
        previous_yes_bid_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        previous_yes_ask:
          type: integer
        previous_yes_ask_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        previous_price:
          type: integer
        previous_price_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        volume:
          type: integer
          format: int64
        volume_24h:
          type: integer
          format: int64
        liquidity:
          type: integer
          format: int64
        liquidity_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        open_interest:
          type: integer
          format: int64
        result:
          type: string
          enum:
            - ''
            - yes
            - no
        can_close_early:
          type: boolean
        expiration_value:
          type: string
        category:
          type: string
        risk_limit_cents:
          type: integer
          format: int64
        strike_type:
          type: string
        floor_strike:
          type: number
        cap_strike:
          type: number
        custom_strike:
          type: object
          additionalProperties: true
    GetMarketOrderbookResponse:
      type: object
      required:
        - orderbook
      properties:
        orderbook:
          $ref: '#/components/schemas/Orderbook'
    Orderbook:
      type: object
      required:
        - yes
        - no
      properties:
        yes:
          type: array
          items:
            $ref: '#/components/schemas/OrderbookLevel'
        no:
          type: array
          items:
            $ref: '#/components/schemas/OrderbookLevel'
    OrderbookLevel:
      type: array
      minItems: 2
      maxItems: 2
      items:
        type: integer
    GetMarketCandlesticksResponse:
      type: object
      required:
        - ticker
        - candlesticks
      properties:
        ticker:
          type: string
        candlesticks:
          type: array
          items:
            $ref: '#/components/schemas/MarketCandlestick'
    MarketCandlestick:
      type: object
      required:
        - end_period_ts
        - price
        - yes_bid
        - yes_ask
        - volume
        - open_interest
      properties:
        end_period_ts:
          type: integer
          format: int64
        price:
          $ref: '#/components/schemas/CandlestickPrice'
        yes_bid:
          $ref: '#/components/schemas/CandlestickPrice'
        yes_ask:
          $ref: '#/components/schemas/CandlestickPrice'
        volume:
          type: integer
          format: int64
        open_interest:
          type: integer
          format: int64
    CandlestickPrice:
      type: object
      required:
        - open
        - low
        - high
        - close
      properties:
        open:
          type: integer
        low:
          type: integer
        high:
          type: integer
        close:
          type: integer
    GetTradesResponse:
      type: object
      required:
        - trades
        - cursor
      properties:
        trades:
          type: array
          items:
            $ref: '#/components/schemas/Trade'
        cursor:
          type: string
    Trade:
      type: object
      required:
        - trade_id
        - ticker
        - price
        - yes_price
        - no_price
        - yes_price_dollars
        - no_price_dollars
        - count
        - taker_side
        - created_time
      properties:
        trade_id:
          type: string
        ticker:
          type: string
        price:
          type: integer
        yes_price:
          type: integer
        no_price:
          type: integer
        yes_price_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        no_price_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        count:
          type: integer
          format: int64
        taker_side:
          type: string
          enum:
            - yes
            - no
        created_time:
          type: string
          format: date-time
    GetBalanceResponse:
      type: object
      required:
        - balance
        - portfolio_value
        - updated_ts
      properties:
        balance:
          type: integer
          format: int64
        portfolio_value:
          type: integer
          format: int64
        updated_ts:
          type: integer
          format: int64
        balance_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        portfolio_value_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        balance_breakdown:
          type: array
          items:
            $ref: '#/components/schemas/BalanceBreakdown'
    BalanceBreakdown:
      type: object
      required:
        - exchange_index
        - balance
        - portfolio_value
      properties:
        exchange_index:
          type: integer
        balance:
          type: integer
          format: int64
        portfolio_value:
          type: integer
          format: int64
        balance_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        portfolio_value_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
    GetPositionsResponse:
      type: object
      required:
        - market_positions
        - event_positions
        - cursor
      properties:
        market_positions:
          type: array
          items:
            $ref: '#/components/schemas/MarketPosition'
        event_positions:
          type: array
          items:
            $ref: '#/components/schemas/EventPosition'
        cursor:
          type: string
    MarketPosition:
      type: object
      required:
        - ticker
        - position
        - market_exposure
        - resting_orders_count
        - total_traded
        - realized_pnl
        - fees_paid
      properties:
        ticker:
          type: string
        position:
          type: integer
          format: int64
        market_exposure:
          type: integer
          format: int64
        market_exposure_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        resting_orders_count:
          type: integer
          format: int64
        total_traded:
          type: integer
          format: int64
        realized_pnl:
          type: integer
          format: int64
        realized_pnl_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        fees_paid:
          type: integer
          format: int64
        fees_paid_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
    EventPosition:
      type: object
      required:
        - event_ticker
        - total_cost
        - total_cost_shares
        - event_exposure
      properties:
        event_ticker:
          type: string
        total_cost:
          type: integer
          format: int64
        total_cost_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        total_cost_shares:
          type: integer
          format: int64
        event_exposure:
          type: integer
          format: int64
        event_exposure_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
    GetOrdersResponse:
      type: object
      required:
        - orders
        - cursor
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        cursor:
          type: string
    GetOrderResponse:
      type: object
      required:
        - order
      properties:
        order:
          $ref: '#/components/schemas/Order'
    Order:
      type: object
      required:
        - order_id
        - user_id
        - client_order_id
        - ticker
        - side
        - action
        - type
        - status
        - yes_price
        - no_price
        - count
        - remaining_count
        - queue_position
        - created_time
      properties:
        order_id:
          type: string
        user_id:
          type: string
        client_order_id:
          type: string
        ticker:
          type: string
        side:
          type: string
          enum:
            - yes
            - no
        action:
          type: string
          enum:
            - buy
            - sell
        type:
          type: string
          enum:
            - market
            - limit
        status:
          type: string
          enum:
            - resting
            - canceled
            - executed
        yes_price:
          type: integer
        yes_price_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        no_price:
          type: integer
        no_price_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        count:
          type: integer
          format: int64
        remaining_count:
          type: integer
          format: int64
        queue_position:
          type: integer
          format: int64
        created_time:
          type: string
          format: date-time
        expiration_time:
          type: string
          format: date-time
        order_group_id:
          type: string
          nullable: true
        self_trade_prevention_type:
          type: string
        cancel_order_on_pause:
          type: boolean
    CreateOrderRequest:
      type: object
      required:
        - ticker
        - client_order_id
        - type
        - action
        - side
        - count
      properties:
        ticker:
          type: string
        client_order_id:
          type: string
        type:
          type: string
          enum:
            - market
            - limit
        action:
          type: string
          enum:
            - buy
            - sell
        side:
          type: string
          enum:
            - yes
            - no
        count:
          type: integer
          format: int64
          minimum: 1
        yes_price:
          type: integer
          minimum: 1
          maximum: 99
        yes_price_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        no_price:
          type: integer
          minimum: 1
          maximum: 99
        no_price_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        expiration_ts:
          type: integer
          format: int64
        time_in_force:
          type: string
          enum:
            - fill_or_kill
            - immediate_or_cancel
            - good_till_canceled
        buy_max_cost:
          type: integer
          format: int64
        post_only:
          type: boolean
        reduce_only:
          type: boolean
        order_group_id:
          type: string
        self_trade_prevention_type:
          type: string
          enum:
            - taker_at_cross
            - maker
        cancel_order_on_pause:
          type: boolean
    CreateOrderResponse:
      type: object
      required:
        - order
      properties:
        order:
          $ref: '#/components/schemas/Order'
    BatchCreateOrdersRequest:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          maxItems: 20
          items:
            $ref: '#/components/schemas/CreateOrderRequest'
    BatchCreateOrdersResponse:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/CreateOrderResponse'
    BatchCancelOrdersRequest:
      type: object
      required:
        - order_ids
      properties:
        order_ids:
          type: array
          maxItems: 20
          items:
            type: string
    BatchCancelOrdersResponse:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/Order'
    CancelOrderResponse:
      type: object
      required:
        - order
      properties:
        order:
          $ref: '#/components/schemas/Order'
    DecreaseOrderRequest:
      type: object
      required:
        - reduce_by
      properties:
        reduce_by:
          type: integer
          format: int64
          minimum: 1
    DecreaseOrderResponse:
      type: object
      required:
        - order
      properties:
        order:
          $ref: '#/components/schemas/Order'
    GetFillsResponse:
      type: object
      required:
        - fills
        - cursor
      properties:
        fills:
          type: array
          items:
            $ref: '#/components/schemas/Fill'
        cursor:
          type: string
    Fill:
      type: object
      required:
        - trade_id
        - order_id
        - ticker
        - market_ticker
        - is_taker
        - side
        - yes_price
        - no_price
        - count
        - action
        - ts
      properties:
        trade_id:
          type: string
        order_id:
          type: string
        ticker:
          type: string
        market_ticker:
          type: string
        is_taker:
          type: boolean
        side:
          type: string
          enum:
            - yes
            - no
        yes_price:
          type: integer
        yes_price_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        no_price:
          type: integer
        no_price_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        count:
          type: integer
          format: int64
        action:
          type: string
          enum:
            - buy
            - sell
        ts:
          type: integer
          format: int64
        created_time:
          type: string
          format: date-time
    GetSettlementsResponse:
      type: object
      required:
        - settlements
        - cursor
      properties:
        settlements:
          type: array
          items:
            $ref: '#/components/schemas/Settlement'
        cursor:
          type: string
    Settlement:
      type: object
      required:
        - ticker
        - market_result
        - yes_count
        - no_count
        - revenue
        - settled_time
      properties:
        ticker:
          type: string
        market_result:
          type: string
          enum:
            - yes
            - no
            - scalar
        yes_count:
          type: integer
          format: int64
        no_count:
          type: integer
          format: int64
        revenue:
          type: integer
          format: int64
        revenue_dollars:
          $ref: '#/components/schemas/FixedPointDollars'
        settled_time:
          type: string
          format: date-time
    GetSubaccountBalancesResponse:
      type: object
      required:
        - subaccount_balances
      properties:
        subaccount_balances:
          type: array
          items:
            $ref: '#/components/schemas/SubaccountBalance'
    SubaccountBalance:
      type: object
      required:
        - subaccount_number
        - balance
        - updated_ts
        - exchange_index
      properties:
        subaccount_number:
          type: integer
          minimum: 0
          maximum: 63
        balance:
          $ref: '#/components/schemas/FixedPointDollars'
        updated_ts:
          type: integer
          format: int64
        exchange_index:
          type: integer
          minimum: 0
    GetSubaccountNettingResponse:
      type: object
      required:
        - netting_configs
      properties:
        netting_configs:
          type: array
          items:
            $ref: '#/components/schemas/SubaccountNettingConfig'
    SubaccountNettingConfig:
      type: object
      required:
        - subaccount_number
        - enabled
        - exchange_index
      properties:
        subaccount_number:
          type: integer
          minimum: 0
          maximum: 63
        enabled:
          type: boolean
        exchange_index:
          type: integer
          minimum: 0
    UpdateSubaccountNettingRequest:
      type: object
      required:
        - subaccount_number
        - enabled
        - exchange_index
      properties:
        subaccount_number:
          type: integer
          minimum: 0
          maximum: 63
        enabled:
          type: boolean
        exchange_index:
          type: integer
          minimum: 0
    UpdateSubaccountNettingResponse:
      type: object
      required:
        - subaccount_number
        - enabled
        - exchange_index
      properties:
        subaccount_number:
          type: integer
          minimum: 0
          maximum: 63
        enabled:
          type: boolean
        exchange_index:
          type: integer
          minimum: 0
    GetSubaccountTransfersResponse:
      type: object
      required:
        - transfers
        - cursor
      properties:
        transfers:
          type: array
          items:
            $ref: '#/components/schemas/SubaccountTransfer'
        cursor:
          type: string
    SubaccountTransfer:
      type: object
      required:
        - transfer_id
        - source_subaccount
        - destination_subaccount
        - amount
        - created_ts
      properties:
        transfer_id:
          type: string
        source_subaccount:
          type: integer
          minimum: 0
          maximum: 63
        destination_subaccount:
          type: integer
          minimum: 0
          maximum: 63
        amount:
          $ref: '#/components/schemas/FixedPointDollars'
        created_ts:
          type: integer
          format: int64
    CreateSubaccountTransferRequest:
      type: object
      required:
        - source_subaccount
        - destination_subaccount
        - amount
      properties:
        source_subaccount:
          type: integer
          minimum: 0
          maximum: 63
        destination_subaccount:
          type: integer
          minimum: 0
          maximum: 63
        amount:
          $ref: '#/components/schemas/FixedPointDollars'
    CreateSubaccountTransferResponse:
      type: object
      required:
        - transfer
      properties:
        transfer:
          $ref: '#/components/schemas/SubaccountTransfer'
    CreateSubaccountResponse:
      type: object
      required:
        - subaccount_number
      properties:
        subaccount_number:
          type: integer
          minimum: 1
          maximum: 63
    GetOrderGroupsResponse:
      type: object
      required:
        - order_groups
      properties:
        order_groups:
          type: array
          items:
            $ref: '#/components/schemas/OrderGroup'
    GetOrderGroupResponse:
      type: object
      required:
        - order_group
      properties:
        order_group:
          $ref: '#/components/schemas/OrderGroup'
    OrderGroup:
      type: object
      required:
        - order_group_id
        - name
        - status
        - rolling_count
        - created_ts
      properties:
        order_group_id:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
            - active
            - disabled
        rolling_count:
          type: integer
          format: int64
        created_ts:
          type: integer
          format: int64
    CreateOrderGroupRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
    CreateOrderGroupResponse:
      type: object
      required:
        - order_group
      properties:
        order_group:
          $ref: '#/components/schemas/OrderGroup'
    ResetOrderGroupResponse:
      type: object
      required:
        - order_group
      properties:
        order_group:
          $ref: '#/components/schemas/OrderGroup'
    GetOrderGroupLimitsResponse:
      type: object
      required:
        - order_group_id
        - contracts_per_minute
      properties:
        order_group_id:
          type: string
        contracts_per_minute:
          type: integer
          format: int64
    UpdateOrderGroupLimitsRequest:
      type: object
      required:
        - contracts_per_minute
      properties:
        contracts_per_minute:
          type: integer
          format: int64
          minimum: 0
    UpdateOrderGroupLimitsResponse:
      type: object
      required:
        - order_group_id
        - contracts_per_minute
      properties:
        order_group_id:
          type: string
        contracts_per_minute:
          type: integer
          format: int64
    GetApiKeysResponse:
      type: object
      required:
        - api_keys
      properties:
        api_keys:
          type: array
          items:
            $ref: '#/components/schemas/ApiKey'
    ApiKey:
      type: object
      required:
        - api_key_id
        - name
        - scopes
      properties:
        api_key_id:
          type: string
          description: Unique identifier for the API key
        name:
          type: string
          description: User-provided name for the API key
        scopes:
          type: array
          description: List of scopes granted to this API key.
          items:
            $ref: '#/components/schemas/ApiKeyScope'
        subaccount:
          type: integer
          nullable: true
          minimum: 0
          maximum: 63
          description: If set, the API key is restricted to this single sub-account and may only read and trade on it. Absent/null means the key is unrestricted.
    ApiKeyScope:
      type: string
      enum:
        - read
        - write
    CreateApiKeyRequest:
      type: object
      required:
        - name
        - public_key
        - scopes
      properties:
        name:
          type: string
        public_key:
          type: string
        scopes:
          type: array
          items:
            $ref: '#/components/schemas/ApiKeyScope'
        subaccount:
          type: integer
          minimum: 0
          maximum: 63
          description: If set, the key will be restricted to this subaccount. Omit to create an unrestricted key.
    CreateApiKeyResponse:
      type: object
      required:
        - api_key_id
      properties:
        api_key_id:
          type: string
    GetAccountApiLimitsResponse:
      type: object
      required:
        - usage_tier
        - read
        - write
        - grants
      properties:
        usage_tier:
          type: string
        read:
          type: integer
        write:
          type: integer
        grants:
          type: array
          items:
            $ref: '#/components/schemas/ApiLimitGrant'
    ApiLimitGrant:
      type: object
      required:
        - type
        - effective_date
        - value
      properties:
        type:
          type: string
        effective_date:
          type: string
          format: date-time
        value:
          type: integer
    FixedPointDollars:
      type: string
      pattern: ^-?\d+\.\d{4}$
      description: Fixed-point dollar amount with exactly 4 decimal places

tags:
  - name: exchange
    description: Exchange-level endpoints
  - name: series
    description: Series endpoints
  - name: events
    description: Event endpoints
  - name: market
    description: Market data endpoints
  - name: portfolio
    description: Portfolio and trading endpoints
  - name: api-keys
    description: API key management endpoints
  - name: account
    description: Account-level endpoints
